body {
    font-family: Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

.press-content {
    padding: 50px;
    text-align: center;
}

.press-item {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
}

.press-image {
    width: 45%;
    height: 300px;
    background-color: #ffffff; 
}

.press-text h2 {
    color: #333;
}

.read-more-button {
    display: block;
    background-color: #333333;
    color: #ffffff;
    text-decoration: none;
    padding: 10px 20px;
    margin-top: 20px;
    width: fit-content;
    margin: auto;
}

.container { /*Center both boxes*/
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.address, .inquiry { /* Border styling */
    width: 45%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin: 10px;
}

.address { /* Center text in address */
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;

    /*Left of Container*/
    margin-right: auto;
}

.inquiry {
    margin-left: auto;
}