body {
    font-family: Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

.press-content {
    padding: 50px;
    text-align: center;
}

.press-item {
    display: flex;
    flex-direction: column; /* Change to column for better mobile responsiveness */
    justify-content: center; /* Center the items */
    align-items: center; /* Center the items */
    margin-top: 50px;
}

@media (min-width: 768px) {
    .press-item {
        flex-direction: row; /* Change to row for larger screens */
    }
}

.press-image {
    width: 100%; /* Set to 100% width of container */
    max-width: 600px; /* Add a max-width to constrain the image size */
    margin-bottom: 20px; /* Add margin to separate image and text on small screens */
}

.press-image img {
    width: 100%;
    height: auto;
}

.press-text {
    width: 100%; /* Set to 100% width of container */
    max-width: 600px; /* Add a max-width to constrain the text size */
}

.press-text h2 {
    color: #333;
}

.read-more-button {
    display: block;
    background-color: #333333;
    color: #ffffff;
    text-decoration: none;
    padding: 10px 20px;
    width: fit-content;
    margin: 20px auto 0;
}
