body {
    font-family: Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

.product-boxes {
    display: flex;
    justify-content: space-between;
}

.product-box {
    width: calc(33.33% - 20px);
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}

.product-box img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}

.product-box h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.product-box p {
    font-size: 14px;
    margin-bottom: 10px;
}

.product-box a {
    display: inline-block;
    background-color: #333333;
    color: #ffffff;
    padding: 8px 16px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.product-box a:hover {
    background-color: #caac03;
}

/* Video Games Page Content styles */
.video-games-page {
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
}

.filters-section, .sort-by-section, .product-boxes-section {
    margin-bottom: 20px;
}

.filters-section h2, .sort-by-section h2 {
    margin-bottom: 10px;
}

.filter, .sort-option {
    margin-bottom: 10px;
}

.product-box {
    width: calc(33.33% - 20px);
    background-color: #f9f9f9;
    border-radius: 5px;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    margin-right: 20px;
    float: left;
}

.product-box img {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
}

.product-box h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.product-box p {
    font-size: 14px;
    margin-bottom: 10px;
}

.product-box a {
    display: inline-block;
    background-color: #333;
    color: #fff;
    padding: 8px 16px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.product-box a:hover {
    background-color: #caac03;
}

/* Consoles Page Content styles */
.consoles-page {
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
}

/* Accessories Page Content styles */
.accessories-page {
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
}