body {
    font-family: Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #333333;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 75px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.logo a {
    color: #ffffff;
    text-decoration: none;
}

.nav-links {
    display: flex;
}

.nav-links a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 15px;
    transition: color 0.3s;
}

.icons {
    display: flex;
    align-items: center;
}

.icons img {
    width: 25px;
    margin-left: 15px;
    margin-right: 15px;
    cursor: pointer;
    transition: transform 0.3s;
}

.press-content {
    padding: 50px;
    text-align: center;
}

.press-item {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
}

.press-image {
    width: 45%;
    height: 300px;
    background-color: #ffffff; 
}

.press-text h2 {
    color: #333;
}

.read-more-button {
    display: block;
    background-color: #333333;
    color: #ffffff;
    text-decoration: none;
    padding: 10px 20px;
    margin-top: 20px;
    width: fit-content;
    margin: auto;
}

.nav-links a.active {
    border-bottom: 2px solid #ffffff;
}

.icons img:hover {
    transform: none;
}
