body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
header {
    background-color: #748D92;
    color: #ffffff;
    padding: 10px 20px;
    text-align: center;
}
header h1 {
    color: #000000;
}
article {
    margin: 20px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
}
footer {
    text-align: center;
    padding: 10px 20px;
    background-color: #023e8a;
    color: #ffffff;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.content {
    line-height: 1.6;
}