.product-boxes {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px; /* Added margin-bottom */
}

.product-box {
    width: calc(33.33% - 20px);
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    display: flex; /* Added display flex */
    flex-direction: column; /* Added flex direction */
    justify-content: space-between; /* Added justify content */
    align-items: center;
}

.product-box img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}

.product-box h3 {
    font-size: 18px;
    margin-bottom: 2px;
}

.product-box h4 {
    font-size: 14px;
    margin-bottom: 2px;
}

.product-box p {
    font-size: 14px;
    margin-bottom: 10px;
}

.buttons-container {
    margin-top: 20px; /* Adjusted margin top */
    display: flex; /* Center buttons horizontally */
    margin-right: 10px;
}

.buttons-container button {
    margin-top: 10px; 
    margin-right: 10px;/* Added margin top to separate buttons */
    border-radius: 5px; /* Rounded corners */
    padding: 8px 16px;
    background-color: #333333;
    color: #ffffff;
    text-decoration: none;
    border: none;
    transition: background-color 0.3s;
}

.buttons-container button:hover {
    background-color: #caac03;
}
